# Frontend specific

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# Expo
.expo/
.expo-shared/
.expo-dev/
web-build/
dist/
.expo-packager-cache/
.expo-cache/

# React Native
android/
ios/
*.keystore
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro bundler
*.metro-cache/
metro-cache/
.cache/
*.bundle

# Build
build/
*.apk
*.aab
*.app

# macOS
.DS_Store

# Windows
Thumbs.db

# VSCode / JetBrains IDEs
.vscode/
.idea/

# Environment variables
.env
.env.local
.env.*.local

# Logs
*.log

# Misc
coverage/
*.orig


# Backend specific

HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

